body{
    color: black;
    height: 100%;
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

#header-part{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.page{
    display: none;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgb(182, 176, 176);
    margin: 20px 0;
  }

#nav-bar{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 400px;
    padding-top: 30px;
}

#nav-bar-button{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 0;
    
}

#footer-part{
    font-size: 14px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center; 
    gap: 30px;
    padding-bottom: 30px;
    padding-top: 15px;
}

.login-image{
    max-height: 20%;
    width: 60%;
}

#home-button,
#contact-button,
#about-button,
#signup-button,
#login-button,
#profile-button,
#cart-button{
    cursor: pointer;
    background-color: white;
    border: 0;
}

#contact-button{
  text-decoration: none;
  padding: 8px 16px;
  background: none;
  border: none;
  color: black;
}

#signup-button{
    display: block;
}

#profile-button,
#cart-button{
    display: none;
}

#home-button:hover,
#contact-button:hover,
#about-button:hover,
#signup-button:hover,
#login-button:hover,
#profile-button:hover,
#cart-button:hover{
    opacity: 0.8;
}

#login-page{
    padding-bottom: 160px;
    margin-left: 0;
}

#login-info{
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 130px;
    margin-left: 25px;
    gap: 20px;
}

#login-email,
#login-password,
#sign-up-name,
#sign-up-email,
#sign-up-password,
#forget-email-phone,
#verification-code{
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
}


#login-email:focus,
#login-password:focus,
#sign-up-email:focus,
#sign-up-password:focus,
#forget-email-phone:focus,
#verification-code:focus{
  border-bottom-color:  #616060;
}

#login-hover{
    border: none;
    background-color: white;
}

#login-hover:hover{
    opacity: 0.8;
}

#login-info-bottom{
    display: flex;
    gap: 100px;
}

#forget-password-login{
    border: none;
    background-color: white;
}

#forget-password-login:hover{
    opacity: 0.8;
}

#sign-up-page{
    padding-bottom: 160px;
    margin-left: 0;
}

#sign-up-info{
    padding: 5%;
    padding-top: 130px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sign-up-bottom{
    display: flex;
    gap: 300px;
}

#create-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#create-account-button,
#google-button{
    width: 500px;
    height: 50px;
}

#google-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


#main-page{
    display: flex;
    flex-direction: column;
 
    padding-bottom: 160px;
    margin-left: 100px;
    margin-right: 100px;
 
}

#main-page-1{
    height: 400px;
    width: 800px;
}


#main-page-header{
    display: flex;
    justify-content: center;
    font-size: 17px;
}

#main-page-button{
    display: block;
    margin-right: 50px;
    padding-right: 20px ;
}

.v-line {
  width: 0.5px;
  height: 430px;
  background-color: rgb(182, 176, 176);
  margin-right: 50px;
}

#square-button,
#shawl-button,
#innerCap-button{
    display: flex;
    border: 0;
    background-color: white;
    padding: 10px;
    font-size: 14px;
    gap: 12px;
    cursor: pointer;
}


#square-button:hover,
#shawl-button:hover,
#innerCap-button:hover{
    opacity: 0.8;
}

.title{
    margin-left: 180px;
}

#new-arrival,
#popular-now{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
}

#new-arrival-content,
#popular-content{
    display: flex;
    justify-content: center;
    gap: 90px;
}



.pic{
    height: 280px;
    width: 200px;
}

.pic:hover{
    transform: scale(1.1); 
}

.products{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.star{
    height: 20px;
    width: 100px;
}

#main-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 150px;
}

.bottom-services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#delivery-pic,
#customer-pic,
#moneyback-pic{
    width: 60px;
    height: 60px;
}


#cart-page{
    flex-direction: column;
}

#cart-bottom{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

#cart-total{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px 100px 20px 100px;
}

#return-button{
    margin-top: 20px;
    margin-bottom: 20px;
}

#cart{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

th,td{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
}

#home-cart{
    margin-left: 200px;
}

#return-button{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#square-page,
#shawl-page,
#innercap-page{
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 200px;
    justify-content: center;
}

#square-product,
#shawl-product,
#innercap-product{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-top: 30px;
    max-width: 1000px;
    margin: 0 auto;
    gap: 30px;
}

.add-to-cart{
    height: 30px;
    width: 100px;
}

.middle-title{
    display: flex;
    justify-content: center;
}

#login-form,
#sign-up-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}